<head>
    <link rel="stylesheet" href="../public/app.css"/>

</head>
<header>

    <h1>Akua</h1>
    
    <div class="search-bar">
        
        <input type="text" placeholder="Search...">
        <div type="submit" class="search_btn" width="35"><img src="../images/magnifying-glass-icon.png" width="30" alt="Search Icon"></div>

    </div>
    <div>
        <div class="notification_btn" width="35"><img src="../images/notification-icon.png" width="30" alt="Notification Icon"></div>
        <div class="calendar_btn" width="35"><img src="../images/calendar-icon.png" width="30" alt="Calendar Icon"></div>
        <p id="current_date"></p>
    </div>
</header>

    <!--
       
   -->
    
<main>
 
    <ul id="content">
         

        <input type="file" id="fileInput" accept="image/*" style="display: none;">
       
        <div class="icon" id="preview"><input type="file"  accept="image/*" id="uploadButton" ></div>
        <li><a href="/"><img src="../images/four-squares-line-icon.png" width="30"> Dashboard</a></li>
        <li><a href="/about"><img src="../images/image.png" width="30"> Vital Task</a></li>
        <li><a href="/contact"><img src="../images/calendar-checkmark-line-icon.png" width="30"> My Task</a></li>
        <li><a href="/contact"><img src="../images/audit-report-survey-icon.png" width="30"> Task Categories</a></li>
        <li><a href="/contact"><img src="../images/setting-line-icon.png" width="30"> Settings</a></li>
        <li><a href="/contact"><img src="../images/question-mark-line-icon.png" width="30"> Help</a></li>
        <li><a href="../public/home.html" onclick="logout_user()"><img src="../images/logout-line-icon.png" width="30">Logout</a></li>
    </ul>
    <div id="content">
       
    </div>
    <h2 id="user">
        
    </h2>
    <div>

    </div>
</main>
<footer>
    <p id="footer-content">© 2025 Your Company Name</p>                       
</footer>
<script src="../js/my_profile.js"></script>
